version: '3'

services:
   mongo_db:
     image: aashreys/mongo-auth:latest
     volumes:
       - /var/docker_deployment/mongo_db/data3:/data/db
     restart: always
     ports:
       - "1010:27017"
     network_mode: "bridge"
     environment:
       - AUTH=yes
       - MONGODB_ADMIN_USER=admin
       - MONGODB_ADMIN_PASS=halloMongo;120
   alertgen:
     depends_on:
       - mongo_db
     image: alertgen
     volumes:
       - /var/log/alertgen:/usr/share/node_app/logs
     ports:
       - "80:8080"
     restart: always
